
/******************** MIE MODIFICHE ******************************/

:root {
    --bs-dark-rgb: 44,62,80;
    --bs-success-rgb: 23, 186, 154;
    --bs-secondary-rgb: 63, 83, 108;
}

/****************************************************************/

.my-horizontal-bar {
    height: 5px;
    width: 50px;
}

.my-btn-primary {
    color: #fff;
    background-color: rgb(23, 186, 154);
    border-color: rgb(23, 186, 154);
}

.my-btn-primary:hover {
    color: #fff;
    background-color: rgb(18, 155, 127);
    border-color: rgb(17, 122, 101);
}

.hr-bar {
    width: 10%;
    height: 3px;
    background-color: black;
}

.social li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
}


@media (min-width: 768px) { 
    .w-md-25 {
        width: 25% !important;
    }
}